.line {
    font-family: "Cinzel", serif;
    padding: 10px 0;
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.mpr {
    font-family: "Cormorant Garamond", serif;
    margin: 2px;
    padding: 5px auto;
    font-size: 35px;
    font-weight: 500;
    color: #000;
}

.merch {
    width: 860px;
    background: linear-gradient(45deg, #789292, #4e7e7d, #5d6b6b);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.item-category {
    width: 400px;
    height: 60px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: linear-gradient(45deg, #708f96, #aa895f);
}

.category {
    font-family: "Cinzel", serif;
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
    color: #1a1a1a;
}

.itembox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 10px;
}

.item-card {
    width: 180px;
    height: auto;
    margin: 10px;
    background: linear-gradient(230deg, #364649, #708f96);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-card:hover {
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.815);
}

.productname {
    font-family: "Marcellus", serif;
    margin: 5px;
    font-size: 22px;
    font-weight: 600;
    color: whitesmoke;
}

.productprice {
    font-family: "Cinzel", serif;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #0e1116;
}


.image img{
    background-color: #27958f;
    border-radius: 15px;
    width: 160px;
    height: 160px;
    margin: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    background-color: #27958f;
    border-radius: 15px;
    width: 160px;
    height: 160px;
    margin: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.addbtn {
    width: 160px;
    height: 30px;
    background-color: #4a6268;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 5px;
    font-size: 18px;
    font-weight: 400;
}

.addbtn:hover {
    width: 170px;
    height: 40px;
    background-color: #e6e2e1;
    color: #0e1116;
    cursor: pointer;
}



@media (max-width: 460px) {

    .merch {
        width: 420px;
        margin: 10px;
    }

    .line {
        font-size: 35px;
        font-weight: bold;
        padding: 5px 0;
    }

    .mpr {
        font-size: 25px;
        font-weight: 300;
        padding: 0 20px;
        line-height: 25px;
        margin-bottom: 8px;
    }

    .itembox {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-card {
        width: 180px;
        height: auto;
    }

    .image img {
        width: 155px;
        height: 155px;
    }

    .productname {
        font-size: 20px;
    }

    .select {
        width: 100px;
    }

    .addbtn {
        width: 130px;
    }

    .addbtm:hover {
        width: 135px;
    }

}
