* {
    margin: 0;
    padding: 0;
}

.news {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #d61900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticker {
    white-space: nowrap;
}

.ticker span {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 50s linear infinite;
}

@keyframes scroll-left{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.item-info-box {
    border-radius: 20px 20px 0 0;
    width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 0;
    background: linear-gradient(45deg, #3e515b, #4d6471, #a76d5e, #c4a071);
}

.info-box {
    width: 137px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box1 {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: italic;
    width: 160px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px 0 0 0;
    color: whitesmoke;
    font-size: 25px;
}

.info-box2 {
    width: 150px;
    color: whitesmoke;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.info-box3 {
    width: 120px;
    color: whitesmoke;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.info-box4 {
    width: 140px;
    color: whitesmoke;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.box-info {
    width: 160px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 19px 0 0;
    color: whitesmoke;
    font-size: 25px;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.cartlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #c4c3d0, #dadada, #a7a6ba, #dcdcdc, #91a3b0);
    width: 850px;
    height: auto;
    border-radius: 20px;
    margin: 20px auto;
}
/*
background: linear-gradient(45deg, #d2d8d8, #bfc6d0, #a5afd4);
background: linear-gradient(230deg, #364649, #708f96);
background: linear-gradient(45deg, #798c8a, #e0d9e0, #d2d3d8, #6a687e)
*/
.items {
    margin: 20px auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 20px
}

.cartRow {
    border-radius: 20px 0 0 20px;
    width: 846px;
    height: auto;
    background: linear-gradient(45deg, #8e90a7, #505e79);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    border: 2px solid #000;
}

.cartimage {
    width: 160px;
    height: 160px;
}

.cartimage img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    margin: 0;
}

.productinformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.productname {
    height: 50px;
    width: 150px;
    font-size: 22px;
    font-weight: 400;
    color: whitesmoke;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cinzel" serif;
    font-style: italic;
    line-height: 20px;
}

.productprice {
    height: 50px;
    width: 160px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 22px;
    font-family: "Cinzel" serif;
    font-style: italic;
    font-weight: 600;
}

.productsize {
    border: 2px solid #000;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 300;
    font-family: "Marculles" serif;
}

.productcolor {
    border: 2px solid #000;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    font-family: "Marculles" serif;
}

.quantityBox{
    width: 140px;
    height: 50px;
    border: 2px solid #000;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:10px;
    font-family: "Marculles" serif;
    font-weight: 300;
    font-size: 20px;
    color: whitesmoke;

}

.quantityBox button{
    width:30px;
    height:30px;
    border:none;
    cursor:pointer;
    font-size: 18px;
    border-radius:5px;
    background: linear-gradient(45deg, #2f3559, #b7a8bd);
    border: 2px solid #000;
}

.quantityBox button:hover {
    cursor: pointer;
    border: 2px solid #000;
    background: linear-gradient(45deg, #dcd5e5, #2f3559);
    color: whitesmoke;
    font-size: 20px;
    width: 35px;
    height: 35px;
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.329);
}

.remove {
    width: 150px;
    height: 30px;
    background-color: #4a6268;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    fill: #efefef;
}

.remove:hover {
    height: 40px;
    cursor: pointer;
    background-color: #e6e2e1;
    fill: #0e1116;
}

.price-details {
    width: 850px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.method {
    width: 404px;
    height: 60px;
    border: 2px solid #000;
    margin: 10px;
    margin-right: 5px;
    background: linear-gradient(45deg, #636d79, #7f8995);
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
}

.deliveryOption {
    width: 300px;
    height: 40px;
    background: linear-gradient(45deg, #9ea7b3, #636d79, #7f8995);
    border: 2px solid #000;
    margin: 10px;
    margin-right: 5px;
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #000;
}

.Prices {
    height: 60px;
    width: 404px;
    margin: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 25px;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ship {
    background: linear-gradient(45deg, #464c55, #7f8995);
    height: 60px;
    width: 250px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    color: whitesmoke;
}

.sub {
    background: linear-gradient(45deg, #464c55, #7f8995);
    height: 60px;
    width: 250px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    color: whitesmoke;
}

.shipping {
    width: 150px;
    height: 60px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #9ea7b3, #636d79);
}

.subtotal {
    width: 150px;
    height: 60px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #9ea7b3, #636d79);
}

.total {
    width: 150px;
    height: 60px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #9ea7b3, #636d79);
    color: whitesmoke;
}

.fullprice {
    background: linear-gradient(45deg, #464c55, #7f8995);
    height: 60px;
    border: 2px solid #000;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    color: whitesmoke;
}

.important {
    width: 800px;
    height: auto;
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #f74f3c 0%, #e4321e 50%, #c92816 100%);
    color: whitesmoke;
}

.very {
    font-size: 30px;
    font-weight: bold;
    margin: 3px;
    color: whitesmoke;
    font-family: "Sekuya", system-ui;
}

.nb {
    font-size: 35px;
    font-weight: 600;
    margin: 3px;
    margin-top: 0;
    color: whitesmoke;
    font-family: "Libertinus Math", system-ui;
}

.must {
    font-size: 25px;
    font-weight: 400;
    margin: 5px;
    color: #1d1717;
    padding: 0 20px;
    color: whitesmoke;
    font-family: "Libertinus Serif", serif;
    line-height: 25px;
    padding: 10px 25px;
}

.checkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(230deg, #174871, #a77693);
    gap: 10px;
    fill: whitesmoke;
    font-family: "Sekuya", system-ui;
    
}

.out {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    padding: 15px 30px;
    color: whitesmoke;
}

.checkout:hover {
    cursor: pointer;
    color: #0e1116;
    fill: #0e1116;
    background: linear-gradient(230deg, #a77693, #ded1c6);
}

@media (max-width: 460px) {

    .item-info-box {
        width: 100%;
        border-radius: 0;

    }

    .info-box1 {
        width: 86px;
        font-size: 14px;
        line-height: 18px;
        border-radius: 0;
        padding-bottom: 5px;
    }

    .info-box2 {
        width: 76px;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 5px;
    }

    .info-box3 {
        width: 72px;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 5px;
    }

    .info-box4 {
        width: 82px;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 5px;
    }

    .box-info {
        width: 72px;
        font-size: 14px;
        border-radius: 0;
        line-height: 18px;
        padding-bottom: 5px;
    }

    .cartlist {
        width: 100%;
        border-radius: 0;
    }

    .important {
        width: 440px;
    }
/*
    .list { 
        padding: 0;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
*/
    .cartRow {
        width: 460px;
        height: 100%;
        border-radius: 0;
    }

    .cartimage {
        width: 86px;
        height: 86px;
        border-radius: 0;
    }

    .cartimage img {
        width: 100%;
        height: 100%;
        border-radius: 0 10px 10px 0;
    }

    .productname {
        width: 72px;
        font-size: 14px;
        line-height: 18px;
    }

    .productsize {
        width: 72px;
        font-size: 14px;
        line-height: 18px;
    }

    .productcolor {
        width: 72px;
        font-size: 12px;
        line-height: 16px;
    }

    .productprice {
        width: 72px;

    }

    .quantityBox {
        width: 82px;
        font-size: 14px;
        gap: 5px;

    }

    .quantityBox button {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quantityBox button:hover {
        width: 25px;
        height: 25px;
    }

    .quantityBox span {
        font-size: 14px;
    }

    .price-details {
        width: 440px;
    }

    .method {
        width: 260px;
        height: 40px;
        font-size: 20px;
        margin: 5px;
    }

    .deliveryOption {
        width: 260px;
        height: 40px;
        font-size: 20px;
        margin: 5px;
    }
    
    .Prices {
        width: 260px;
        height: 40px;
        margin: 5px;
    }

    .ship,
    .sub,
    .fullprice {
        width: 180px;
        height: 40px;
        font-size: 18px;
    }

    .shipping,
    .subtotal,
    .total {
        width: 80px;
        height: 40px;
        font-size: 12px;
        font-weight: bold;
    }

    .remove {
        width: 70px;
    }

    .very {
        font-size: 18px;
    }

    .nb {
        font-size: 18px;
        font-weight: 300;
    }

    .must {
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        padding: 0 20px;
    }

    .checkout {
        font-size: 14px;
    }

    .out {
        padding: 5px 15px;
    }

    .checkout:hover {
        padding: 8px 18px;
    }
}