.checkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 20px
}

.info {
    background: linear-gradient(45deg, #132f37, #2a4f58, #51727a);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 460px;
    height: auto;
    border-radius: 20px;
}

.Customer {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 300;
    margin: 5px;
}

.name {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.fullname {
    width: 200px;
    height: 48px;
    border-radius: 0 20px 20px 0;
    margin-left: 5px;
    border: none;
    background-color: #fafaf7;
    font-size: 20px;
    font-weight: 500;
    color: #41424c;
}

.email {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.gmail {
    width: 200px;
    height: 48px;
    border-radius: 0 20px 20px 0;
    margin-left: 5px; 
    border: none;
    background-color: #fafaf7;
    font-size: 20px;
    font-weight: 500;
    color: #41424c;
}

.number {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.phone {
    width: 200px;
    height: 48px;
    border-radius: 0 20px 20px 0;
    margin-left: 5px;
    border: none;
    background-color: #fafaf7;
    font-size: 20px;
    font-weight: 500;
    color: #41424c;
}

.n {
    font-family: "Libertinus Math", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 380px;
    border-bottom: 2px solid #fafaf7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 300;
    margin: 5px;
}

.zipcode {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.zip {
    width: 200px;
    height: 48px;
    border-radius: 0 20px 20px 0;
    border: none;
    margin-left: 5px;
    background-color: #fafaf7; 
    font-size: 20px;
    font-weight: 500;
    color: #41424c;
}

.town {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.city {
    width: 200px;
    height: 48px;
    border-radius: 0 20px 20px 0;
    margin-left: 5px;
    border: none;
    background-color: #fafaf7; 
    font-size: 20px;
    font-weight: 500;
    color: #41424c;
}

.street {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.str {
    width: 200px;
    height: 48px;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: #fafaf7; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #41424c;
}

.fullname::placeholder,
.gmail::placeholder,
.phone::placeholder,
.zip::placeholder,
.city::placeholder,
.str::placeholder {
    color: #41424c;
    font-size: 20px;
    font-weight: bold;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 20px 0 0 20px;
    background-color: #fafaf7;
    fill: #41424c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartlist {
    background: linear-gradient(45deg, #1a6d73 0, #3ed7c1 55%, #122f4c 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto; 
    width: 360px;
    height: auto;
    border-radius: 20px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    gap: 10px;
}

.cartItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.cartRow {
    background-color: #fafaf7;
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.cartimage  {
    width: 140px;
    height: 140px;
    border-radius: 20px;
    margin: 10px;
    border: 2px solid #000;
}

.cartimage img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.productname {
    font-size: 20px;
    font-family: "Cinzel" serif;
    font-style: italic;
    line-height: 20px;
    padding: 0 10px;
    
}

.productprice {
    font-size: 20px;
    font-family: "Cinzel" serif;
    font-style: italic;
    font-weight: 600;

}

.productsize {
    font-size: 18px;
    font-weight: 300;
    font-family: "Marculles" serif;
    padding: 0 10px;
}

.productcolor {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    font-family: "Marculles" serif;
    padding: 0 10px;
}


.quantityBox {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5px auto;
    font-family: "Marculles" serif;
    font-weight: 300;
    font-size: 20px;
}

.quantityBox button {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #2f3559, #b7a8bd);
    border: 2px solid #000;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}

.quantityBox button:hover {
    width: 30px;
    height: 30px;
    background: linear-gradient(45deg, #dcd5e5, #2f3559);
    color: whitesmoke;
}

.quantityBox span {
    font-size: 20px;
    font-weight: 500;
}

.price-details {
    width: 360px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.method {
    width: 300px;
    height: 40px;
    border: 2px solid #000;
    margin: 10px;
    margin-right: 5px;
    background: linear-gradient(45deg, #636d79, #7f8995);
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
}

.deliveryOption {
    width: 300px;
    height: 40px;
    background: linear-gradient(45deg, #9ea7b3, #636d79, #7f8995);
    border: 2px solid #000;
    margin: 10px;
    margin-right: 5px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #000;
}

.Prices {
    height: 60px;
    width: 300px;
    margin: 10px;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 25px;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: whitesmoke;
}

.ship {
    background: linear-gradient(45deg, #464c55, #7f8995);
    height: 40px;
    width: 180px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    color: whitesmoke;
}

.sub {
    background: linear-gradient(45deg, #464c55, #7f8995);
    height: 40px;
    width: 180px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    color: whitesmoke;
}

.shipping {
    width: 120px;
    height: 40px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #9ea7b3, #636d79);
}

.subtotal {
    width: 120px;
    height: 40px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #9ea7b3, #636d79);
}

.total {
    width: 120px;
    height: 40px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #9ea7b3, #636d79);
    color: whitesmoke;
}

.fullprice {
    background: linear-gradient(45deg, #464c55, #7f8995);
    height: 40px;
    border: 2px solid #000;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    color: whitesmoke;
}

.btl {
    width: 200px;
    height: 50px;
    border: none;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    background: linear-gradient(45deg, rgb(97, 136, 124), rgb(58, 124, 99));
    border-radius: 10px;
    gap: 10px;
    color: whitesmoke;
}

.btl:hover {
    width: 210px;
    height: 60px;
    cursor: pointer;
    background: linear-gradient(45deg, #426359, #659b8c, #264437);
    color: whitesmoke;
    fill: whitesmoke;
}

.posting {
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}

.d {
    display: flex;
    justify-content: center;
    align-items: center;
}



.Due {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 300;
    margin: 5px;
}

.j {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 340px;
}

.listcart {
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 300;
    margin: 5px;
    width: 340px;
    border-bottom: 2px solid #fafaf7;
}

.must {
    font-size: 20px;
    font-weight: bold;
    margin: 8px;
}

.very {
    font-size: 18px;
    font-weight: bold;
    margin: 3px;
    color: whitesmoke;
    font-family: "Sekuya", system-ui;
    width: 420px;
    height: 50px;
    border-radius: 20px;
    background-color: #d61900;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.nb {
    font-size: 25px;
    font-weight: 600;
    margin: 3px;
    margin-top: 0;
    color: whitesmoke;
    font-family: "Libertinus Math", system-ui;
}

.must {
    font-size: 25px;
    font-weight: 400;
    margin: 5px;
    color: #1d1717;
    padding: 0 20px;
    color: whitesmoke;
    font-family: "Libertinus Serif", serif;
    line-height: 25px;
    padding: 10px 25px;
}

@media (max-width: 480px ) {
    .checkout {
        display: flex;
        flex-direction: column;
    }

    .cartimage {
        width: 160px;
        height: 160px;
    }

    .info {
        width: 95%;
    }

    .very {
        width: 90%;
        font-size: 18px;
    }

    .nb {
        font-size: 18px;
    }

    .must {
        font-size: 16px;
        line-height: 20px;
        padding: 5px 25px;
    }

    .cartlist {
        width: 95%;
    }

    .cartRow {
        width: 180px;
    }

    .productname {
        font-size: 18px;
        line-height: 20px;
        padding: 0 20px;
    }

    .productsize {
        font-size: 14px;
        line-height: 20px;
        padding: 0 10px;
    }

    .productcolor {
        font-size: 14px;
        line-height: 20px;
        padding: 0 10px;
    }

    .quantityBox {
        font-size: 14px;
        font-weight: 300;
    }
}