/* Google Fonts

Playfair Display
Poppins

*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root{

    --background:#F6F2EC;
    --card:#FFFCF8;

    --text:#1E2025;
    --text-light:#666666;

    --primary: #98aa9d;
    --secondary: #A76D5E;
    --accent: #C4A071;

    --border:rgba(0,0,0,.08);

    --shadow:

        0 20px 50px rgba(0,0,0,.08);

    --radius:24px;

    --transition:.35s ease;

}


/*==========================
RESET
==========================*/

*{

    margin:0;
    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--background);

    font-family:Poppins,sans-serif;

    color:var(--text);

    overflow-x:hidden;

}

.container {
    height: auto;
    width: 100%;
    
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

main{

    width:min(1200px,92%);

    margin:auto;

}


/*==========================
TYPOGRAPHY
==========================*/

h1,
h2,
h3{

    font-family:"Playfair Display",serif;

    font-weight:700;

    color:var(--text);

}

p{

    color:var(--text-light);

    line-height:1.8;

    font-size:17px;

}

a{

    text-decoration:none;

}


/*==========================
BUTTONS
==========================*/

.primary-btn{

    display:inline-flex;

    justify-content:center;
    align-items:center;

    padding:16px 36px;

    border-radius:999px;

    background: #98aa9d;
    border: 2px solid #98a086;

    color:white;

    transition:var(--transition);

    box-shadow:

        0 12px 30px rgba(62,81,91,.25);

}

.primary-btn:hover{

    transform:translateY(-4px);

    background: #697c70;
    border: 2px solid #2d3536;

}

.secondary-btn{

    display:inline-flex;

    justify-content:center;
    align-items:center;

    padding:16px 36px;

    border-radius:999px;

    border:2px solid #98a086;

    color: #98a086;

    transition:var(--transition);

}

.secondary-btn:hover{

    background: #697c70;
    border: 2px solid #2d3536;

    color: white;

}


/*==========================
HERO
==========================*/

.hero{

    min-height:90vh;

    display:grid;

    grid-template-columns: repeat(2, 1fr);

    align-items:center;
    justify-content: center;

    gap:80px;

    background: linear-gradient(34deg, #f6f2ec, #ede6dc, #e5ddd2);

    padding:80px 0;

}

.hero-content{

    animation:fadeLeft .8s ease;

}

.hero-tag{

    display:inline-block;

    padding:8px 18px;

    border-radius:999px;

    background:rgba(111, 113, 122, 0.507);

    color: whitesmoke;

    letter-spacing:2px;

    font-size:12px;

    font-weight:600;

    text-transform:uppercase;

}

.hero-title{

    font-size:68px;

    line-height:1.1;

    margin:25px 0;

}

.hero-text{

    max-width:520px;

    margin-bottom:40px;

}

.hero-buttons{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}


/*==========================
IMAGE
==========================*/

.hero-image{

    position:relative;

    width:360px;
    height: 360px;

    border-radius:40px;

    background:

        linear-gradient(
            145deg,
            #3E515B,
            #A76D5E
        );

    overflow:hidden;

    box-shadow:

        var(--shadow);

}

.hero-image img{
    width: 100%;
    height: 100%;
}


/* Glass */

.hero-image::before{

    content:"";

    position:absolute;

    inset:20px;

    border-radius:28px;

    border:1px solid rgba(255,255,255,.25);

}


/* Glow */

.hero-image::after{

    content:"";

    position:absolute;

    width:350px;
    height:350px;

    border-radius:50%;

    background:

        radial-gradient(
            rgba(255,255,255,.30),
            transparent 70%
        );

    top:-120px;
    right:-120px;

    animation:

        floatGlow 6s ease-in-out infinite;

}


/*==========================
ANIMATIONS
==========================*/

@keyframes fadeLeft{

    from{

        opacity:0;

        transform:

            translateX(-40px);

    }

    to{

        opacity:1;

        transform:

            translateX(0);

    }

}

@keyframes floatGlow{

    0%{

        transform:

            translateY(0);

    }

    50%{

        transform:

            translateY(25px);

    }

    100%{

        transform:

            translateY(0);

    }

}

/*======================================
        SERVICES
======================================*/

.services{

    padding:120px 0;

    background: linear-gradient( #e8e0d2, #dccdba, #cfbda6);

}

.title{

    text-align:center;

    margin-bottom:70px;

}

.title span{

    display:inline-block;

    padding:8px 18px;

    border-radius:999px;

    background:rgba(111, 113, 122, 0.507);

    color: whitesmoke;

    font-size:12px;

    letter-spacing:2px;

    text-transform:uppercase;

    font-weight:600;

}

.title h2{

    font-size:48px;

    margin-top:20px;

}

.service-grid{

    display: flex;

    justify-content: center;
    align-items: center;

    gap:30px;

}


/*==========================
SERVICE CARD
==========================*/

.service-card{

    position:relative;

    background: var(--card);

    padding:45px 35px;

    border-radius:var(--radius);

    border:1px solid var(--border);

    overflow:hidden;

    transition:.4s ease;

    box-shadow:var(--shadow);

}

.service-card::before{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
        135deg,
        rgba(196,160,113,.08),
        transparent 55%
    );

    opacity:0;

    transition:.4s;

}

.service-card:hover::before{

    opacity:1;

}

.service-card:hover{

    transform:translateY(-12px);

    box-shadow:

        0 35px 60px rgba(0,0,0,.12);

}


/*==========================
ICON
==========================*/

.service-icon{

    width:75px;
    height:75px;

    border-radius:20px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:34px;

    margin-bottom:25px;

    background:

        linear-gradient(
            135deg,
            var(--primary),
            var(--secondary)
        );

    color:white;

    box-shadow:

        0 18px 35px rgba(62,81,91,.25);

}

.service-card h3{

    font-size:28px;

    margin-bottom:18px;

}

.service-card p{

    font-size:16px;

}


/*======================================
        ABOUT
======================================*/

.about-axis{

    display:flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:70px;

    align-items:center;

    padding:120px 0;

    background: linear-gradient( #d1c7bc, #b9aea2, #a39385);

}

.about-left {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-left span{
    

    display: flex;
    justify-content: center;
    align-items: center;

    padding:8px 18px;

    border-radius:999px;

    background:rgba(62,81,91,.08);

    color:var(--primary);

    letter-spacing:2px;

    font-size:12px;

    text-transform:uppercase;

}

.about-left h2{

    font-size:52px;

    margin:30px 0;

    line-height:1.15;
    padding: 15px;

}

.about-left p{

    max-width:520px;
    padding: 10px;

}


/*==========================
ABOUT GRID
==========================*/

.about-right{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:15px;

}

.about-box{

    position:relative;

    width: 180px;
    height:180px;

    background:var(--card);

    border-radius:22px;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:20px;

    font-size:22px;

    font-weight:600;

    color:var(--primary);

    border:1px solid var(--border);

    transition:.4s;

    box-shadow:var(--shadow);

    overflow:hidden;

}

.about-box::before{

    content:"";

    position:absolute;

    width:180px;
    height:180px;

    border-radius:50%;

    background:

        radial-gradient(

            rgba(196,160,113,.18),

            transparent 70%

        );

    top:-80px;
    right:-80px;

    transition:.4s;

}

.about-box:hover{

    transform:translateY(-10px);

    color:white;

    background:

        linear-gradient(
            135deg,
            var(--primary),
            var(--secondary)
        );

}

.about-box:hover::before{

    transform:scale(1.3);

}


/*======================================
        FEATURED PROJECT
======================================*/

.featured{

    background: linear-gradient( #e7c4b1, #d8a48a, #c48267);
    padding:120px 0;

}

.featured-card{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:60px;

    align-items:center;

    background:var(--card);

    border-radius:32px;

    padding:45px;

    border:1px solid var(--border);

    box-shadow:var(--shadow);

}

.project-image{

    height:420px;

    border-radius:24px;

    background:
        linear-gradient(
            145deg,
            var(--primary),
            var(--secondary)
        );

    position:relative;

    overflow:hidden;

}

.project-image img{
    height: 450px;
    width: auto;
}

.project-image::before{

    content:"";

    position:absolute;

    inset:20px;

    border-radius:20px;

    border:1px solid rgba(255,255,255,.25);

}

.project-image::after{

    content:"";

    position:absolute;

    width:260px;
    height:260px;

    border-radius:50%;

    background:
        radial-gradient(
            rgba(255,255,255,.30),
            transparent 70%
        );

    top:-80px;
    right:-80px;

}

.project-info h3{

    font-size:42px;

    margin-bottom:20px;

}

.project-info p{

    margin-bottom:35px;

    max-width:500px;

}

.project-info a{

    display:inline-flex;

    align-items:center;

    gap:10px;

    color:var(--primary);

    font-weight:600;

    transition:.3s;

}

.project-info a:hover{

    gap:18px;

}

/*======================================
        TIMELINE
======================================*/

.updates{
    width: 100%;

    padding:120px 0;

    background: linear-gradient( #d7dccf, #bfc6b2, #a8b098);

}

.timeline{

    max-width:800px;

    margin:auto;

    position:relative;

}

.timeline::before{

    content:"";

    position:absolute;

    left:20px;

    top:0;

    bottom:0;

    width:3px;

    background:

        linear-gradient(

            var(--primary),

            var(--accent)

        );

}

.update-news{

    position:relative;

    margin-left:70px;

    margin-bottom:45px;

    padding: 25px;

    background: var(--card);

    border-radius:18px;

    border:1px solid var(--border);

    box-shadow: var(--shadow);

}

.update-news::before{

    content:"";

    position:absolute;

    left:-60px;

    top:28px;

    width:20px;

    height:20px;

    border-radius:50%;

    background:var(--secondary);

    border:5px solid var(--background);

}

.update-news span{

    display:block;

    font-weight:600;

    color:var(--secondary);

    margin-bottom:10px;

    letter-spacing:1px;

    text-transform:uppercase;

    font-size:13px;

}

/*======================================
        MERCH
======================================*/

.merch-preview{

    width: 100%;
    padding:120px 0;

    background: linear-gradient(34deg, #f6f2ec, #ede6dc, #e5ddd2);

}

.merch-text{

    background:var(--card);

    padding:70px;

    border-radius:32px;

    border:1px solid var(--border);

    box-shadow:var(--shadow);

    text-align:center;

    position:relative;

    overflow:hidden;

}

.merch-text::before{

    content:"";

    position:absolute;

    width:450px;

    height:450px;

    border-radius:50%;

    background:

        radial-gradient(

            rgba(196,160,113,.18),

            transparent 70%

        );

    right:-220px;

    top:-220px;

}

.merch-text span{

    display:inline-block;

    margin-bottom:18px;

    color:var(--secondary);

    letter-spacing:2px;

    font-size:12px;

    text-transform:uppercase;

    font-weight:600;

}

.merch-text h2{

    font-size:54px;

    margin-bottom:25px;

}

.merch-text p{

    max-width:650px;

    margin:auto;

    margin-bottom:40px;

}

.merch-text a{

    display:inline-flex;

    justify-content:center;

    align-items:center;

    padding:16px 40px;

    border-radius:999px;

    background:var(--primary);

    color:white;

    transition:.35s;

}

.merch-text a:hover{

    transform:translateY(-5px);

    background:var(--secondary);

}

/*======================================
        RESPONSIVE
======================================*/

@media(max-width:900px){

    .featured-card{

        grid-template-columns:1fr;

        text-align:center;

    }

    .project-info p{

        margin:auto auto 30px;

    }

    .project-image{

        height:300px;

    }

    .project-info h3{

        font-size:34px;

    }

    .merch-text{

        padding:45px 30px;

    }

    .merch-text h2{

        font-size:40px;

    }

    .timeline{

        padding-left:10px;

    }

    .update{

        margin-left:55px;

    }

}

/*======================================
        CALL TO ACTION
======================================*/

.cta{
    width: 100%;
    height: 700px;

    text-align:center;

    background:
        linear-gradient(
            145deg,
            var(--primary),
            var(--secondary)
        );


    overflow:hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position:relative;

    box-shadow:
        0 30px 80px rgba(0,0,0,.18);

}

.cta::before{

    content:"";

    position:absolute;

    width:500px;
    height:500px;

    border-radius:50%;

    background:

        radial-gradient(

            rgba(255,255,255,.20),

            transparent 70%

        );

    top:-250px;
    right:-180px;

}

.cta span{

    display:inline-block;

    padding:8px 20px;

    border-radius:999px;

    border:1px solid rgba(255,255,255,.25);

    color:white;

    font-size:12px;

    letter-spacing:2px;

    text-transform:uppercase;

}

.cta h2{

    margin:30px 0;

    font-size:58px;

    color:white;

}

.cta p{

    max-width:700px;

    color:rgba(255,255,255,.85);

    margin-bottom:45px;

}

.cta-btn{

    display:inline-flex;

    justify-content:center;
    align-items:center;

    width:260px;
    height:62px;

    border-radius:999px;

    background:white;

    color:var(--primary);

    font-weight:700;

    letter-spacing:1px;

    transition:.35s;

    box-shadow:

        0 20px 35px rgba(0,0,0,.15);

}

.cta-btn:hover{

    transform:

        translateY(-6px)
        scale(1.03);

    box-shadow:

        0 30px 45px rgba(0,0,0,.20);

}

/*======================================
            FOOTER
======================================*/

footer{

    margin-top:120px;

    padding:70px 0;

    border-top:1px solid var(--border);

}

.footer-grid{

    display:grid;

    grid-template-columns:

        2fr
        1fr
        1fr
        1fr;

    gap:60px;

}

.footer-logo h2{

    font-size:38px;

}

.footer-logo p{

    margin-top:18px;

    max-width:360px;

}

.footer-column h3{

    margin-bottom:18px;

    font-size:24px;

}

.footer-column a{

    display:block;

    margin:12px 0;

    color:var(--text-light);

    transition:.3s;

}

.footer-column a:hover{

    color:var(--primary);

    padding-left:8px;

}

.footer-bottom{

    margin-top:70px;

    padding-top:30px;

    border-top:1px solid var(--border);

    text-align:center;

    color:var(--text-light);

}

/*======================================
        SCROLL ANIMATIONS
======================================*/

.hero,
.services,
.about-axis,
.featured,
.updates,
.merch-preview,
.cta{

    animation:

        fadeUp .8s ease both;

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:

            translateY(40px);

    }

    to{

        opacity:1;

        transform:

            translateY(0);

    }

}

/*======================================
            UTILITIES
======================================*/

img{

    max-width:100%;

    display:block;

}

section{

    position:relative;

}

::selection{

    background:var(--secondary);

    color:white;

}

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#ebe7e0;

}

::-webkit-scrollbar-thumb{

    background:var(--primary);

    border-radius:999px;

}

::-webkit-scrollbar-thumb:hover{

    background:var(--secondary);

}

/*======================================
        RESPONSIVE
======================================*/

@media(max-width:900px){

    .cta{

        padding:70px 30px;

    }

    .cta h2{

        font-size:40px;

    }

    .footer-grid{

        grid-template-columns:1fr;

        text-align:center;

    }

    .footer-logo p{

        margin:auto;

        margin-top:18px;

    }

}

/*======================================
        800px
======================================*/

@media (max-width: 800px){

    main{
        width:95%;
    }

    h1{
        font-size:42px;
    }

    h2{
        font-size:34px;
    }

    h3{
        font-size:28px;
    }

    p{
        font-size:16px;
        line-height:1.7;
    }

    .primary-btn,
    .secondary-btn{

        padding:14px 32px;
        font-size:16px;

    }

     .headerbox{
        padding:15px 20px;
    }

    .nav{
        flex-direction:column;
        gap:15px;
    }

    .nav-bar{
        flex-wrap:wrap;
        justify-content:center;
        width:100%;
    }

    .nav-link{
        font-size:15px;
        padding:10px 18px;
    }

    .footer-grid{
        grid-template-columns:repeat(2,1fr);
        gap:40px;
    }

     .hero{

        gap:50px;
        padding:70px 0;
        justify-content: center;
        align-items: center;

    }

    .hero-title{

        font-size:56px;

    }

    .hero-text{

        font-size:16px;

    }

    .hero-image{

        width: 450px;
        height: 450px;

    }

    .hero-image img {
        width: 100%;
        height: 100%;
    }

    .service-grid {
        flex-direction: column;
    }

    .service-card {
        width: 90%;
    }

    .about-right {
        grid-template-columns: repeat(2, 1fr);
    }

    .update-news {
        width: 75%;
    }

}

/*======================================
        700px
======================================*/

@media (max-width:700px){

    main{
        width:95%;
    }

    h1{
        font-size:38px;
    }

    h2{
        font-size:30px;
    }

    h3{
        font-size:24px;
    }

    p{
        font-size:16px;
    }

    .primary-btn,
    .secondary-btn{

        width:220px;
        height:50px;

        padding:0;

        font-size:15px;

    }

    .hero{

        display: flex;
        flex-direction: column;

        text-align:center;

        justify-content: center;
        align-items: center;

        gap:50px;

        padding:60px 0;

    }

    .hero-content{

        display:flex;

        flex-direction:column;

        align-items:center;

    }

    .hero-title{

        font-size:50px;

    }

    .hero-text{

        max-width:600px;

    }

    .hero-buttons{

        justify-content:center;

    }

}

/*======================================
        540px
======================================*/

@media (max-width:540px){

    main{
        width:96%;
    }

    h1{
        font-size:34px;
    }

    h2{
        font-size:28px;
    }

    h3{
        font-size:22px;
    }

    p{
        font-size:15px;
        line-height:1.6;
    }

    .primary-btn,
    .secondary-btn{

        width:200px;
        height:48px;

        font-size:15px;

    }

    .hero{

        gap:40px;

        padding:50px 0;

    }

    .hero-title{

        font-size:42px;

    }

    .hero-tag{

        font-size:11px;

        padding:7px 16px;

    }

    .hero-image{

        height:420px;

        border-radius:30px;

    }

}

/*======================================
        490px
======================================*/

@media (max-width:490px){

    h1{
        font-size:30px;
    }

    h2{
        font-size:25px;
    }

    h3{
        font-size:20px;
    }

    p{
        font-size:15px;
    }

    .primary-btn,
    .secondary-btn{

        width:190px;
        height:46px;

        font-size:14px;

    }

    .hero-text{

        font-size:15px;

    }

    .hero-image{

        height:380px;

    }

    .hero-image::after{

        width:250px;
        height:250px;

    }



}

/*======================================
        460px
======================================*/

@media (max-width:460px){

    .container{
        width:100%;
    }

    main{
        width:97%;
    }

    h1{
        font-size:28px;
    }

    h2{
        font-size:23px;
    }

    h3{
        font-size:19px;
    }

    p{
        font-size:14px;
    }

    .primary-btn,
    .secondary-btn{

        width:180px;
        height:45px;

        font-size:14px;

    }

     .hero{

        padding:40px 0;

    }

    .hero-title{

        padding: 10px;
        font-size:30px;

    }

    .hero-text{
        padding: 20px;
        font-size:12px;
        font-weight: 700;

    }

    .hero-buttons{

        flex-direction:column;

        align-items:center;

        gap:15px;

    }

    .hero-image{
        width: 340px;
        height:340px;

    }

    .services {
        padding: 40px 0;
    }

    .services .title h2 {
        font-size: 30px;
    }

    .service-card {
        padding: 20px 15px;
    }

    .service-icon {
        margin-bottom: 12px;
    }

    .service-card h3 {
        margin-bottom: 12px;
    }

    .about-axis {
        padding: 40px 0;
        gap: 20px;
    }

    .about-left h2 {
        font-size: 36px;
        padding: 20px 28px;
        margin-bottom: 0;
    }

    .about-left p {
        padding: 10px 28px;
        font-size: 16px;
    }

    .featured {
        padding: 40px 0;
    }

    .merch-preview {
        padding: 40px 0;
    }

    

}

/*======================================
        400px
======================================*/

@media (max-width:400px){

    h1{
        font-size:25px;
    }

    h2{
        font-size:21px;
    }

    h3{
        font-size:18px;
    }

    p{
        font-size:13px;
    }

    .primary-btn,
    .secondary-btn{

        width:170px;
        height:42px;

        font-size:13px;

    }

    .axis-logo img{

        width:50px;

        height:50px;

    }

    .nav-link{

        font-size:12px;

        padding:8px;

    }

    .footer-logo img{

        width:65px;

        height:65px;

    }

    .socials img{

        width:42px;

        height:42px;

    }

    .hero-title{

        font-size:30px;

    }

    .hero-tag{

        font-size:10px;

    }

    .hero-text{

        font-size:13px;

    }

    .hero-image{

        height: 100%;

        border-radius:24px;

    }

    .hero-image::before{

        inset:12px;

    }

}

/*======================================
        340px
======================================*/

@media (max-width:340px){

    h1{
        font-size:22px;
    }

    h2{
        font-size:19px;
    }

    h3{
        font-size:17px;
    }

    p{
        font-size:12px;
        line-height:1.5;
    }

    .primary-btn,
    .secondary-btn{

        width:160px;
        height:40px;

        font-size:12px;

    }

    .headerbox{

        padding:12px 5px;

    }

    .nav-bar{

        padding:5px;

        gap:5px;

    }

    .nav-link{

        font-size:11px;

        padding:7px;

    }

    .axis-logo img{

        width:45px;

        height:45px;

    }

    .footer-logo h2{

        font-size:26px;

    }

    .footer-column h3{

        font-size:18px;

    }

    .footer-column a,
    .footer-column p{

        font-size:13px;

    }

    .socials img{

        width:38px;

        height:38px;

    }

    .footer-bottom p{

        font-size:12px;

    }

    .hero{

        gap:30px;

        padding:30px 0;

    }

    .hero-title{

        font-size:26px;

        margin:18px 0;

    }

    .hero-tag{

        font-size:9px;

        padding:6px 14px;

    }

    .hero-text{

        font-size:12px;

    }

    .hero-image{

        height:250px;

        border-radius:20px;

    }

    .hero-image::after{

        width:180px;
        height:180px;

    }

}